@if (Game.HasSnakeEyes)
{
    <div class="alert alert-danger">You have lost the game! Do you want to try again?</div>
    <button @onclick="Game.Restart">Restart</button>
}

@code{
    [Parameter]
    public Game Game { get; set; }
}

